/* css reset */
*{
    margin:0px;
    padding:0px;
}
:root{
    --navbar_height:59px;
}

#navbar{
    display: flex;
    align-items: center;
   
}
#logo{
    margin:20px 25px;

}
#logo img{
    margin:5px 2px;
    height: 20px;

}

